<%- include('components/header') %>

<!-- Modal -->
<div class="m-3">
    <div class="container text-center shadow p-3 rounded" style="width: 50%;">
        <% if (error) {
            %>
            <p class="help errorMsg announcement-text" style="border-radius: 5px;white-space: pre-wrap;">There was an error connecting to GitHub</p>
        <%
        } if (authErr) {%>
                <p class="help errorMsg announcement-text" style="border-radius: 5px;white-space: pre-wrap;"><%= authErr %></p>
            <% } %>
            <img src="/images/connectgh.png">
        <h1>Connect GitHub</h1>
            <br>
            <% if (user.github && !authErr) {
            %>
                <img src="<%= ghuser.avatar_url %>" style="width: 30px; height: 30px; object-fit: cover;vertical-align:top;margin-top:0 !important;margin-right:1px !important;margin-bottom:0 !important;" class="rounded-circle m-2 d-inline">
                <p class="subtitle is-6 m-2 d-inline" style="word-wrap: break-word;margin-top:25px;">Your GitHub account is <a href="<%= ghuser.html_url %>"><%= ghuser.login%></a></p><br>
                <br>
                <form action="/api/github/disconnect" method="post" id="form">
                    <button type="submit" class="btn btn-danger" id="join-btn"><i class="material-icons">exit_to_app</i> Disconnect GitHub</button>
                </form>
            <% } else {%>
                <a class="btn btn-primary" href="https://github.com/login/oauth/authorize?client_id=<%= process.env.GH_CLIENT_ID %>&state=1"><i class="material-icons">link</i> Connect GitHub</a>

        <% } %>
    </div>
</div>
<!--
<script>
    let joinBtn = document.getElementById("join-btn");
    if (joinBtn) {
        document.getElementById("form-code").addEventListener("input", function() {
            if (!this.value && !joinBtn.disabled) joinBtn.disabled = true;
            else if (this.value && joinBtn.disabled) joinBtn.disabled = false;
        });
    }
</script>-->

<%- include('components/footer') %>
