<%- include('components/header') %>
<% let isMod = user ? ["admin", "organizer"].some(f => Object.keys(user.flags).filter(k => user.flags[k]).includes(f)) : false;
if (isMod) {%>
<div class="modal fade" id="announcementEditModal<%= message._id %>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/message/<%= message._id %>" method="post" id="form">
                    <input name="_method" value="put" hidden/>
                    <div class="modal-body">
                        <div class="form-group input-group field">
                            <label class="has-float-label">
                                <textarea class="form-control announce-type" type="text" name="reason" id="form-edit-<%= message._id %>"><%= message.reason %></textarea>
                                <span class="label">Content</span>
                            </label>
                        </div>
                        <p class="help errorMsg" id="form-edit-<%= message._id %>-help" hidden="true"></p>
                        <div class="card" id="md-preview-card-form-edit-<%= message._id %>">
                            <div class="card-body">
                                <h5 class="card-title">Markdown preview</h5>
                                <hr>
                                <p class="card-text" id="md-preview-form-edit-<%= message._id %>"><%= message.reason %></p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary modal-btn" id="ui-form-edit-<%= message._id %>-btn" disabled>Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="announcementDeleteModal<%= message._id %>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/message/<%= message._id %>" method="post" id="form">
                    <input name="_method" value="delete" hidden/>
                    <button type="submit" class="btn btn-danger modal-btn" id="ui-form-delete-<%= message._id %>-btn">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
<% } %>
<div class="m-3">
    <div class="container text-center shadow p-3 rounded" style="width: 50%;">
        <div style="width:auto;text-align:left;">
            <img src="<%= (message.mod ? message.mod.avatar : null) || "/images/default.png" %>" style="width: 30px; height: 30px; object-fit: cover;vertical-align:top;margin-top:0 !important;margin-right:1px !important;margin-bottom:0 !important" class="rounded-circle m-2 d-inline">
            <%
            const translation = {
                "admin": {
                    icon: "admin_panel_settings",
                    color: "blue",
                    tooltip: "Website Administrator"
                },
                "organizer": {
                    icon: "beenhere",
                    color: "gold",
                    tooltip: "Organizer"
                },
                "judge": {
                    icon: "gavel",
                    color: "green",
                    tooltip: "Judge"
                },
                "sponsor": {
                    icon: "monetization_on",
                    color: "darkgreen",
                    tooltip: "Sponsor"
                },
                "mentor": {
                    icon: "help",
                    color: "#59dbbb",
                    tooltip: "Mentor"
                },
                "host": {
                    icon: "videocam",
                    color: "lightblue",
                    tooltip: "Talk Host"
                },
                "winner": {
                    icon: "emoji_events",
                    color: "gold",
                    tooltip: "Winner"
                },
                "team": {
                    icon: "group",
                    color: "pink",
                    tooltip: "Team User"
                },
                "no_email": {
                    icon: "no_cell",
                    color: "red",
                    tooltip: "Email Not Verified",
                    hidden: true
                },
                "no_edit": {
                    icon: "blur_off",
                    color: "red",
                    tooltip: "Cannot Edit message.mod",
                    hidden: true
                },
                "suspended": {
                    icon: "block",
                    color: "red",
                    tooltip: "Suspended",
                    hidden: true
                },
                "verified": {
                    icon: "verified",
                    color: "#4ba8fa",
                    tooltip: "Verified"
                },
                "snowman": {
                    icon: "ac_unit",
                    color: "#aef2ff",
                    tooltip: "Snowman"
                },
                "beta": {
                    icon: "science",
                    color: "#6ec374",
                    tooltip: "Beta"
                }
            }

            let badges = "";
            if (message.mod) {
                const badgeList = Object.keys(message.mod.flags).filter(k => translation[k] && message.mod.flags[k] && !translation[k].hidden);
                badges = badgeList.map(k => `<i class="material-icons material-icons-va-off" style="color:${translation[k].color};cursor:pointer;" data-toggle="tooltip" data-placement="top" title="${translation[k].tooltip}">${translation[k].icon}</i>`).join(" ");
            }
            %>
            <p class="subtitle is-6 m-2 d-inline" style="margin-top:25px;"><%- message.mod ? `<a href="https://nchack.org/profile/${message.mod.username}">${message.mod.name}</a>` : "NC Hack Staff" %> <%- badges %> <span class="created" style="color:gray"><%= message.created %></span></p>
            <hr>
            <p style="white-space: pre-wrap;" class="announcement-text"><%= message.reason %></p>
            <% if (isMod) {
                function infType (type) {
                    switch(type) {
                        case "suspend":
                            return "Suspension";
                        case "unsuspend":
                            return "Suspension Removal"
                        case "message":
                            return "Message";
                        case "announcement":
                            return "Announcement";
                    }
                }
            %> <hr><a data-toggle="modal" class="btn btn-primary" style="color:white;"  data-target="#announcementEditModal<%= message._id %>">Edit</a> <a data-toggle="modal" style="color:white;" class="btn btn-danger"  data-target="#announcementDeleteModal<%= message._id %>">Delete</a><br><br><p>Type: <%= infType(message.type) %><br>Moderator: <a href="https://nchack.org/profile/<%= message.mod ? message.mod.username : "" %>"><%= message.mod ? message.mod.name : "" %></a> <%= message.anonymous ? "(Sent anonymously)" : ""%><br><% if (message.user) {%>User: <a href="https://nchack.org/profile/<%= message.user.username %>"><%= message.user.name %></a><br><% } %>Date: <%= message.created %><% if (message.type !== "announcement") {%><br>Noticed: <%= message.noticed ? "Yes" : "No"%><% } %></p> <% } %>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    for (let t of document.getElementsByClassName("announcement-text")) {
        t.innerHTML = (new showdown.Converter()).makeHtml(t.innerHTML)
    }
</script>
<script type="text/javascript" src="/js/announcement.validator.js"></script>
<%- include('components/footer') %>
